export(Approx_method)
export(cgmmd)
export(data_sim)
export(element_S_j)
export(flsa.general_copula)
export(flsa2_copula)
export(fused_gl_copula)
export(Gibbs_method)
export(initialize)
export(modselect)
export(admm.iters_copula)
export(penalty.as.matrix_copula)
export(soft_copula)


import("Matrix", "igraph", "parallel")

importFrom( "tmvtnorm", "rtmvnorm.sparseMatrix", "ptmvnorm")
importFrom( "glasso", "glasso")
importFrom( "BDgraph", "graph.sim")
importFrom( "methods", "as", "new")
importFrom( "stats", "cor", "dnorm", "pnorm", "qnorm", "runif", "rnorm", "rchisq", "sd", "rbinom" )
importFrom( "utils", "flush.console")
importFrom( "huge", "huge")
importFrom( "MASS", "sammon")
